<div id="productdetails">

    <div class="col-md-6">



        @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Product.ImageLarge.Default.Clean")))
        {
            <a href="@GetValue("Ecom:Product.ImageLarge.Default.Clean")" target="_blank">
                <img src ="@GetValue("Ecom:Product.ImageLarge.Default.Clean")" class="img-responsive" style="height:300px;" />
            </a>
        }

        @if (string.IsNullOrWhiteSpace(GetString("Ecom:Product.ImageLarge.Default.Clean")))
        {
            <img src ="@GetValue("Ecom:Product.ImageMedium.Default.Clean")" class="img-responsive" />
        }
    </div>
    <div class="col-md-6">
        <h3>@GetValue("Ecom:Product.Name")</h3>
       
        
        @if(GetInteger("Ecom:Product.VariantCount")==0){

        <span class="price">
            @if (String.Equals(GetString("Ecom:Product.Discount.Price.VAT"),GetString("Ecom:Product.Price.Price")))
            {
            <text>Old price:</text>
            <s>@GetValue("Ecom:Product.Price")</s>
            <text>Sale price:</text>
               <mark> @GetValue("Ecom:Product.Discount.Price.PriceWithVATFormatted")</mark>
                
            }
            else{
            <text>Price: </text>
            @GetValue("Ecom:Product.Price")
               
            }
        </span>

            <br />
        
            <form action ="default.aspx">
                <input hidden type ="text" name ="ID" value ="@GetValue("Ecom:Product:Page.ID")" />
                <input hidden type ="text" name ="productID" value ="@GetValue("Ecom:Product.ID")" />
                <input hidden type ="text" name ="cartcmd" value ="add" />
            </form>
             
        }
 
        <span class="shortdescription"><small>@GetValue("Ecom:Product.ShortDescription")</small></span>
        <span class="longdescription">@GetValue("Ecom:Product.LongDescription")</span>
    

    @if(GetInteger("Ecom:Product.VariantCount")>0){
        <h4> Variants: </h4>
        <table class ="table table-hover">
           
        @foreach (LoopItem i in GetLoop("VariantCombinations"))
        {
            <tr>
                @if(String.Equals(i.GetValue("Ecom:VariantCombination.VariantID"),GetValue("Ecom:Product.VariantID.Extented"))){
                    <td style="font-weight:bold;"><a href="@i.GetValue("Ecom:VariantCombination.Link.Clean")">@i.GetValue("Ecom:VariantCombination.VariantText")</a></td>
                    <td style="font-weight:bold;">@i.GetValue("Ecom:VariantCombination.Product.Price")</td>
                    <td style="font-weight:bold;"><a href = "@i.GetValue("Ecom:VariantCombination.CartLink.Clean")">Add to basket</a></td>
                }
                else{
                <td><a href="@i.GetValue("Ecom:VariantCombination.Link.Clean")">@i.GetValue("Ecom:VariantCombination.VariantText")</a></td>
                    <td>@i.GetValue("Ecom:VariantCombination.Product.Price")</td>
                <td>  <form method="post" role ="form">
                            <input type ="hidden" name ="ID" value ="@GetValue("Ecom:Product:Page.ID")" />
                            <input type ="hidden" name ="ProductID" value ="@GetValue("Ecom:Product.ID")" />
                            <input type ="hidden" name ="VariantID" value ="@i.GetValue("Ecom:VariantCombination.VariantID")" />
                          
                            <input type ="hidden" name ="CartCmd" value ="add" />
                            <button type="submit" class ="btn btn-default" >Add to basket</button>

                    </form></td>
                  
                    
                   
                    
                }
            </tr>
            
        }
        
    </table>
    }

</div>

</div>

