@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
<div class="items">
    <div class="item-details">
        <table class="table table-striped">
            <tr>
                <th>Item field name</th>
                <th>Item field value</th>


                        <th></th>

            </tr>
            @foreach (var field in GetLoop("ItemPublisher:Item.Fields"))
            {

                <tr>
                    <td>@field.GetValue("ItemPublisher:Item.Field.Name")</td>
                    <td>
                        @if (field.Values.ContainsKey("ItemPublisher:Item.Field.Value"))
                        {
                            @field.GetValue("ItemPublisher:Item.Field.Value")

                        }
                        else
                        {
                            <span class="item-details-field-novalue">(@Translate("Not_specified", "not specified"))</span>
                        }
                    </td>
                    @if (field.GetBoolean("ItemPublisher:Item.CanEdit"))
                    {
                        <td><a href='@field.GetValue("ItemPublisher:Item.EditUrl")'>@Translate("Edit", "Edit")</a></td>
                    }


                </tr>
            }
        </table>
    </div>
    <div class="item-details-controls">
        <a class="btn" href="#">
            @Translate("Back_to_list", "Back to list")
        </a>
        <!--No tag to find page we came from (item list)-->
    </div>
</div>
