@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="loyaltypoints details">
    <div class="form-horizontal readonly">
        <div class="form-group">
            <label class="col-sm-2 control-label">@Translate("Points")</label>
            <div class="col-sm-10">
                <span class="form-control">@GetDouble("Ecom:LoyaltyPoints.Transaction.Points")</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Translate("Date")</label>
            <div class="col-sm-10">
                <span class="form-control">@GetDate("Ecom:LoyaltyPoints.Transaction.Date")</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Translate("Expiration date")</label>
            <div class="col-sm-10">
                <span class="form-control">@GetDate("Ecom:LoyaltyPoints.Transaction.Date")</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">@Translate("Comment")</label>
            <div class="col-sm-10">
                <span class="form-control">@GetDate("Ecom:LoyaltyPoints.Transaction.Comment")</span>
            </div>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(GetString("Ecom:LoyaltyPoints.Transaction.ListUrl")))
    {
        <div class="controls">
            <a class="btn btn-default" href='@GetString("Ecom:LoyaltyPoints.Transaction.ListUrl")'>@Translate("Back to list")</a>
        </div>
    }
</div>
