@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@SnippetStart("StyleSheet")
<style>
    .quantity, .amount, .actions {
        text-align: right;
    }
</style>
@SnippetEnd("StyleSheet")

@if (GetBoolean("Ecom:Order.IsEmpty"))
{
    <div class="alert alert-info">@Translate("Your_cart_is_empty", "Your cart is empty")</div>
}
else
{
    <table class="table orderlines">
        <thead>
            <tr>
                <th class="name">@Translate("Product_name", "Product name")</th>
                <th class="quantity">@Translate("Quantity", "Quantity")</th>
                <th class="amount">@Translate("Price", "Price")</th>
                <th></th>
            </tr>
        </thead>

        <tfoot>
            <tr class="total">
                <th>@Translate("Total")</th>
                <th></th>
                <th class="amount">@GetValue("Ecom:Order.OrderLines.Total.PriceWithVAT")</th>
                <th></th>
            </tr>
        </tfoot>

        <tbody>
            @foreach (var line in GetLoop("OrderLines"))
            {
                <tr data-product-auto-id='@line.GetValue("Ecom:Product.AutoID")'>
                    <td class="name">
                        <a href='@line.GetValue("Ecom:Order:OrderLine.ProductLink")'>
                            @line.GetValue("Ecom:Order:OrderLine.ProductName.Short")
                            @if (!string.IsNullOrWhiteSpace(line.GetString("Ecom:Order:OrderLine.ProductVariantText")))
                            {
                                @: (@line.GetString("Ecom:Order:OrderLine.ProductVariantText"))
					}
                        </a>
                    </td>
                    <td class="quantity">@line.GetValue("Ecom:Order:OrderLine.Quantity")</td>
                    <td class="amount">
                        @if (line.GetDouble("Ecom:Order:OrderLine.Points") > 0)
                        {
                            @: @line.GetDouble("Ecom:Order:OrderLine.Points") @Translate("Points")
}
                        else
                        {
                            @: @line.GetValue("Ecom:Order:OrderLine.TotalPrice")
    }
                    </td>
                    <td class="actions">
                        @if (line.GetBoolean("Ecom:Order:OrderLine.IsProduct"))
                        {
                            <form method="post">
                                <input type="hidden" name="key" value='@line.GetValue("Ecom:Order:OrderLine.ID")' />
                                <button class="btn btn-default" type="submit" name="CartCmd" value="IncOrderLine"><span class="glyphicon glyphicon-plus"></span></button>
                                <button class="btn btn-default" type="submit" name="CartCmd" value='@(@line.GetInteger("Ecom:Order:OrderLine.Quantity") > 1 ? "DecOrderLine" : "DelOrderLine")'><span class="glyphicon glyphicon-minus"></span></button>
                                <button class="btn btn-default" type="submit" name="CartCmd" value="DelOrderLine"><span class="glyphicon glyphicon-trash"></span></button>
                            </form>
                        }
                    </td>
                </tr>

                foreach (var bomItem in GetLoop("BOMItems"))
                {
                    <tr class="bom-item">
                        <td>@bomItem.GetValue("Ecom:Order:OrderLine.ProductName.Short")</td>
                        <td>@bomItem.GetValue("Ecom:Order:OrderLine.Quantity")</td>
                        <td>@bomItem.GetValue("Ecom:Order:OrderLine.TotalPrice")</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>

            var user = Dynamicweb.Modules.UserManagement.User.get_Current(Dynamicweb.Modules.UserManagement.PagePermissionLevels.Frontend);
            var availablePoints = user != null ? user.PointBalance : 0;
            var cart = Dynamicweb.eCommerce.Common.Context.Cart;
            var pointsUsedInCart = cart != null ? cart.TotalPoints : 0;
            
            if (availablePoints < pointsUsedInCart)
            {
                <div class="alert alert-warning">@String.Format(Translate("Too many points used in cart ({0:0.00}/{1:0.00})"), pointsUsedInCart, availablePoints)</div>
            }

            <form method="post">
                <button class="btn btn-default" type="submit" name="CartCmd" value="emptycart"><span class="glyphicon glyphicon-trash"></span> @Translate("Empty_cart", "Empty cart")</button>

                @if (availablePoints >= pointsUsedInCart)
                {
                    <button class="btn btn-primary pull-right" type="submit" name="@GetValue("CartV2.NextStepButtonName")" id="@GetValue("CartV2.NextStepButtonName")">Next</button>
                }
            </form>
}

