@GetValue("UserManagement:User.ManageAddresses.MakeDefault.Javascript")
@GetValue("UserManagement:User.ManageAddresses.DeleteAddress.Javascript")
@GetValue("UserManagement:User.ManageAddresses.AddAddress.Javascript")
@GetValue("UserManagement:User.ManageAddresses.UpdateAddress.Javascript")

<h2><!--@Translate(manageAddresses, "Manage Addresses")--></h2>
<br />
@GetValue("UserManagement:User.ManageAddresses.FormStart")
<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table">
    <colgroup>
        <col width="100px" align="left" />
        <col width="100px" align="left" />
        <col width="100px" align="left" />
        <col width="100px" align="left"/>
        <col width="100px" align="left"/>
        <col width="70px" align="left" />
        <col width="100px" align="center" />
        <col width="70px" align="left"/>
        <col width="140px" align="left"/>
    </colgroup>
    <thead>
        <tr>
            <td><b>Description</b></td>            
            <td><b>Address</b></td>
            <td><b>Address2</b></td>            
            <td><b>Zip code</b></td>
            <td><b>City</b></td>            
            <td><b>State</b></td>
            <td><b>Country</b></td>
            <td><b>Default</b></td>            
            <td></td>
        </tr>
    </thead>
    <tbody>        		
		@foreach (LoopItem i in GetLoop("UserManagement:User.UserAddresses")){
		<tr>		    
		    <td>@i.GetValue("UserManagement:User.UserAddress.Description")&nbsp;</td>
            <td>@i.GetValue("UserManagement:User.UserAddress.Address")&nbsp;</td>
            <td>@i.GetValue("UserManagement:User.UserAddress.Address2")&nbsp;</td>
            <td>@i.GetValue("UserManagement:User.UserAddress.Zip")&nbsp;</td>
            <td>@i.GetValue("UserManagement:User.UserAddress.City")&nbsp;</td>
            <td>@i.GetValue("UserManagement:User.UserAddress.State")&nbsp;</td>
            <td>@i.GetValue("UserManagement:User.UserAddress.Country")&nbsp;</td>
            <td>
                @if(Dynamicweb.Input.FormatBoolean(i.GetValue("UserManagement:User.UserAddress.Default"))){<text>
                    <img src="/Admin/images/Check.gif" align="middle" style="vertical-align: middle;border:0px;">
                </text>}                
            </td>		    
			<td>                
                <input type="image" onclick="makeDefaultAddress('@i.GetValue("UserManagement:User.UserAddress.ID")    ');" title="Set default" alt="Set default" src="/Admin/Images/Ribbon/Icons/Small/document_ok.png" style="vertical-align: middle;border:0px;float:left;" />
                <input type="image" onclick="deleteAddress('@i.GetValue("UserManagement:User.UserAddress.ID")    ');" title="Delete" alt="Delete" src="/Admin/images/Ribbon/Icons/Small/DeleteDocument.png" style="vertical-align: middle;border:0px;float:left;" />                
                <input type="image" onclick="updateAddress('@i.GetValue("UserManagement:User.UserAddress.ID")    ');" title="Edit" alt="Edit" src="/Admin/Images/Ribbon/Icons/Small/EditDocument.png" style="vertical-align: middle;border:0px;float:left;" />                
            </td>
        </tr> 
        }                                
    </tbody>
</table>
<br />
<input type="submit" id="submitter" onclick="addAddress();" value="<!--@Translate(addaddress, "Add address")-->" class ="btn btn-default" />
@GetValue("UserManagement:User.ManageAddresses.FormEnd")
<br />
@if(!string.IsNullOrWhiteSpace(GetString("UserManagement:User.DetailUrl"))){
	<a href="@GetValue("UserManagement:User.DetailUrl")"><button type="button" class="btn btn-default">Back to detail view</button></a>
}