@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<div class="user-management edit-profile">
	<h1>@Translate("Edit_profile", "Edit profile") @GetValue("UserManagement:User.Name")</h1>

	@{ var validationErrors = GetLoop("FormValidationErrors"); }

	@if (validationErrors.Count > 0)
	{
		<div class="alert alert-danger">
			<ul class="validation-errors">
				@foreach (var error in validationErrors)
				{
					<li>Error in the input field "@error.GetValue("UserManagement:User.FormValidationError.FieldNiceName")": <a href="javascript:document.getElementById('<!--@UserManagement:User.FormValidationError.FieldName-->').focus();">@error.GetValue("UserManagement:User.FormValidationError.Message")</a></li>
				}
			</ul>
		</div>
	}

	<div id="create-profile-form" class="form-horizontal" role="form">
		@GetValue("UserManagement:User.FormStart")
		<div class="form-group">
			<label class="col-sm-2 control-label">@Translate("Name", "Name")</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.Name.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">@Translate("Email", "Email")</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.Email.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">@Translate("Username", "Username")</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.UserName.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">@Translate("newpassword", "New password")</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.NewPassword.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">@Translate("confirmpassword", "Confirm password")</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.NewPasswordConfirm.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">
				@Translate("Department", "Department")
			</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.Department.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">
				@Translate("Phone", "Phone")
			</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.Phone.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">
				@Translate("PhonePrivate", "Private phone")
			</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.PhonePrivate.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">
				@Translate("PhoneBusiness", "Business phone")
			</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.PhoneBusiness.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">
				@Translate("PhoneMobile", "Mobile phone")
			</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.PhoneMobile.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">
				@Translate("Fax", "Fax")
			</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.Fax.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">
				@Translate("Address", "Address")
			</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.Address.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">
				@Translate("Address2", "Address 2")
			</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.Address2.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">
				@Translate("Zip", "Zip")
			</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.Zip.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">
				@Translate("City", "City")
			</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.City.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">
				@Translate("Country", "Country")
			</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.Country.Input")</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">@Translate("profilepicture", "Profile picture")</label>
			<div class="col-sm-10">@GetValue("UserManagement:User.Image.Uploader")</div>
		</div>

		@{ var selectableGroups = GetLoop("SelectableGroups"); }
		@if (selectableGroups.Count > 0)
		{
			<div class="form-group">
				<label class="col-sm-2 control-label">@Translate("memberof", "Member of")</label>
				<div class="col-sm-10">
					@foreach (var group in selectableGroups)
					{
						<label>
							@group.GetValue("UserManagement:User.SelectableGroup.Input")
							@group.GetValue("UserManagement:User.SelectableGroup.Name")
						</label>
					}
				</div>
			</div>
		}

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn" btn-default" id="submitter">@Translate("createnewuser", "Create new user")</button>
			</div>
		</div>

		@GetValue("UserManagement:User.FormEnd")
	</div>
	<!--@SnippetStart(JavaScriptBottom)-->
	<script>
(function ($) {
	$('#create-profile-form input[type="text"], #create-profile-form input[type="password"]').addClass('form-control')

}(jQuery))</script>
	<!--@SnippetEnd(JavaScriptBottom)-->

</div>


<script type="text/javascript">

    function fakeUploadFile() {
        document.getElementById('UserManagement_Form_ImageUploader').click();
    }

    function setValue() {
        var filename = document.getElementById('UserManagement_Form_ImageUploader').value;
        if (filename.length > 0) {
            document.getElementById('FakeImageUploader').style.display = 'none';
        }
    }

    window.onload = function () {
        if (navigator.product == 'Gecko') {
            document.getElementById('UserManagement_Form_ImageUploader').addEventListener('change', setValue, false);
        }
        else {
            document.getElementById('UserManagement_Form_ImageUploader').attachEvent('change', setValue);
        }
    }
</script>

<h2>Edit user '<!--@UserManagement:User.Name-->'</h2>
<!--@LoopStart(FormValidationErrors)-->
	<!--@HeaderStart-->
		<div id="errormessages">
			<ul>
	<!--@HeaderEnd-->
				<li>Error in the input field "<!--@UserManagement:User.FormValidationError.FieldNiceName-->": <a href="javascript:document.getElementById('<!--@UserManagement:User.FormValidationError.FieldName-->').focus();"><!--@UserManagement:User.FormValidationError.Message--></a></li>
	<!--@FooterStart-->
			</ul>
		</div>
	<!--@FooterEnd-->
<!--@LoopEnd(FormValidationErrors)-->
<!--@UserManagement:User.FormStart-->
	<table>
		<tr>
			<th align="left"><!--@Translate(Name, "Name")-->: </th>
			<td><!--@UserManagement:User.Name.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Email, "Email")-->: </th>
			<td><!--@UserManagement:User.Email.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(oldpassword, "Old password")-->: </th>
			<td><!--@UserManagement:User.OldPassword.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(newpassword, "New password")-->: </th>
			<td><!--@UserManagement:User.NewPassword.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(confirmpassword, "Confirm new password")-->: </th>
			<td><!--@UserManagement:User.NewPasswordConfirm.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Department, "Department")-->: </th>
			<td><!--@UserManagement:User.Department.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Phone, "Phone")-->: </th>
			<td><!--@UserManagement:User.Phone.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(PhonePrivate, "Private phone")-->: </th>
			<td><!--@UserManagement:User.PhonePrivate.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(PhoneBusiness, "Business phone")-->: </th>
			<td><!--@UserManagement:User.PhoneBusiness.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(PhoneMobile, "Mobile phone")-->: </th>
			<td><!--@UserManagement:User.PhoneMobile.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Fax, "Fax")-->: </th>
			<td><!--@UserManagement:User.Fax.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Address, "Address")-->: </th>
			<td><!--@UserManagement:User.Address.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Address2, "Address 2")-->: </th>
			<td><!--@UserManagement:User.Address2.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Zip, "Zip")-->: </th>
			<td><!--@UserManagement:User.Zip.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(City, "City")-->: </th>
			<td><!--@UserManagement:User.City.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Country, "Country")-->: </th>
			<td><!--@UserManagement:User.Country.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(JobTitle, "Jobtitle")-->: </th>
			<td><!--@UserManagement:User.JobTitle.Input--></td>
		</tr>
		<tr>
			<th align="left"><!--@Translate(Company, "Company")-->: </th>
			<td><!--@UserManagement:User.Company.Input--></td>
		</tr>
        <tr>
            <th align="left"><!--@Translate(VATIN, "VATIN")-->: </th>
            <td><!--@UserManagement:User.VatRegNumber.Input--></td>
        </tr>
	    <tr>
	        <th align="left"><!--@Translate(profilepicture, "Profile picture")-->: </th>
	        <td><!--@UserManagement:User.Image.Uploader--></td>
	    </tr>

        <!--@LoopStart(SelectableGroups)-->
			<!--@HeaderStart-->
				<tr>
					<th valign="top"><!--@Translate(memberof, "Member of")-->: </th>
					<td valign="top">
			<!--@HeaderEnd-->
				<!--@UserManagement:User.SelectableGroup.Input-->
				<label for="<!--@UserManagement:User.SelectableGroup.InputName-->"><!--@UserManagement:User.SelectableGroup.Name--></label></br>
			<!--@FooterStart-->
					</td>
				</tr>
			<!--@FooterEnd-->
	    <!--@LoopEnd(SelectableGroups)-->
	</table>
	<input type="submit" id="submitter" value="<!--@Translate(updateuser, "Update user")-->">
<!--@UserManagement:User.FormEnd-->
<!--@If Defined(Server:Request.objectid)-->
  <!--@If Defined(UserManagement:User.DetailUrl)-->
      <a href="<!--@UserManagement:User.DetailUrl-->">Back to detail view</a>
  <!--@EndIf(UserManagement:User.DetailUrl)-->
<!--@EndIf(Server:Request.objectid)-->
