<h2>Detail for '@GetValue("UserManagement:User.Name")'</h2>
<table>
	<tr>
		<th align="left"><!--@Translate(Name, "Name")-->: </th>
		<td>@GetValue("UserManagement:User.Name")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Email, "Email")-->: </th>
		<td>@GetValue("UserManagement:User.Email")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Username, "Username")-->: </th>
		<td>@GetValue("UserManagement:User.UserName")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Department, "Department")-->: </th>
		<td>@GetValue("UserManagement:User.Department")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Phone, "Phone")-->: </th>
		<td>@GetValue("UserManagement:User.Phone")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(PhonePrivate, "Private phone")-->: </th>
		<td>@GetValue("UserManagement:User.PhonePrivate")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(PhoneBusiness, "Business phone")-->: </th>
		<td>@GetValue("UserManagement:User.PhoneBusiness")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(PhoneMobile, "Mobile phone")-->: </th>
		<td>@GetValue("UserManagement:User.PhoneMobile")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Fax, "Fax")-->: </th>
		<td>@GetValue("UserManagement:User.Fax")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Address, "Address")-->: </th>
		<td>@GetValue("UserManagement:User.Address")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Address2, "Address 2")-->: </th>
		<td>@GetValue("UserManagement:User.Address2")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Zip, "Zip")-->: </th>
		<td>@GetValue("UserManagement:User.Zip")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(City, "City")-->: </th>
		<td>@GetValue("UserManagement:User.City")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Country, "Country")-->: </th>
		<td>@GetValue("UserManagement:User.Country")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(JobTitle, "Jobtitle")-->: </th>
		<td>@GetValue("UserManagement:User.JobTitle")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(Company, "Company")-->: </th>
		<td>@GetValue("UserManagement:User.Company")</td>
	</tr>
	@if(Dynamicweb.Input.FormatBoolean(GetValue("UserManagement:User.Image.Clean"))){<text>
		<tr>
			<th align="left"><!--@Translate(profilepicture, "Profile picture")-->: </th>
			<td><img src="/admin/public/getimage.aspx?image=@GetValue("UserManagement:User.Image.Clean")&amp;width=80" alt="@GetValue("UserManagement:User.Name")" border="0" /></td>
		</tr>
	</text>}
	@foreach (LoopItem i in GetLoop("UserManagement:User.CustomFields")){
		<tr>
			<th align="left">@i.GetValue("CustomField.Name"): </th>
			<td>@i.GetValue("CustomField.Value")</td>
		</tr>
	}
</table>
@if(Dynamicweb.Input.FormatBoolean(GetValue("UserManagement:User.EditUrl"))){<text>
	<a href="@GetValue("UserManagement:User.EditUrl")">Edit your profile</a>
</text>}