@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<table class="table">
    <tr>
        <th align="left" class="col-sm-4">@Translate("Name", "Name")</th>
        <td>@GetValue("UserManagement:User.Name")</td>
    </tr>

    <tr>
        <th align="left" class="col-sm-4">@Translate("Username", "Username")</th>
        <td>@GetValue("UserManagement:User.UserName")</td>
    </tr>

    <tr>
        <th align="left" class="col-sm-4">@Translate("Email", "Email")</th>
        <td>@GetValue("UserManagement:User.Email")</td>
    </tr>

    <tr>
        <th align="left" class="col-sm-4">@Translate("Phone", "Phone")</th>
        <td>@GetValue("UserManagement:User.Phone")</td>
    </tr>

    @if (!string.IsNullOrWhiteSpace(GetString("UserManagement:User.Image.Clean")))
    {
        <tr>
            <th align="left" class="col-sm-4">@Translate("Profile_picture", "Profile picture")</th>
            <td><img src="/admin/public/getimage.aspx?image=@GetValue("UserManagement:User.Image.Clean")&amp;width=80" alt="@GetValue("UserManagement:User.Name")" /></td>
        </tr>
    }

    @foreach (var field in GetLoop("UserManagement:User.CustomFields"))
    {
        <tr>
            <th align="left" class="col-sm-4">@field.GetValue("CustomField.Name")</th>
            <td>@field.GetValue("CustomField.Value")</td>
        </tr>
    }

</table>

    <div>
        <div>
            @if (!string.IsNullOrWhiteSpace(GetString("UserManagement:User.EditUrl")))
            {
                <a href="@GetValue("UserManagement:User.EditUrl")" class="btn btn-default">@Translate("Edit_profile", "Edit profile")</a>
            }

            @if (!string.IsNullOrWhiteSpace(GetString("UserManagement:User.ManageAddressesUrl")))
            {
                <a href="@GetValue("UserManagement:User.ManageAddressesUrl")" class="btn btn-default">@Translate("Edit_addresses", "Edit addresses")</a>
            }
        </div>
    </div>