<h2>Detail for '@GetValue("UserManagement:User.Name")'</h2>
<table>
	<tr>
		<th align="left"><!--@Translate(Name, "Name")-->: </th>
		<td>@GetValue("UserManagement:User.Name")</td>
	</tr>
    	<tr>
		<th align="left"><!--@Translate(Username, "Username")-->: </th>
		<td>@GetValue("UserManagement:User.UserName")</td>
	</tr>
	<tr>
	<tr>
		<th align="left"><!--@Translate(Email, "Email")-->: </th>
		<td>@GetValue("UserManagement:User.Email")</td>
	</tr>
	<tr>
		<th align="left"><!--@Translate(PhoneMobile, "Mobile phone")-->: </th>
		<td>@GetValue("UserManagement:User.PhoneMobile")</td>
	</tr>
	
	
	
	@if (!string.IsNullOrWhiteSpace(GetString("UserManagement:User.Image.Clean"))){
		<tr>
			<th align="left"><!--@Translate(profilepicture, "Profile picture")-->: </th>
			<td><img src="/admin/public/getimage.aspx?image=@GetValue("UserManagement:User.Image.Clean")&amp;width=80" alt="@GetValue("UserManagement:User.Name")" border="0" /></td>
		</tr>
	}
	@foreach (LoopItem i in GetLoop("UserManagement:User.CustomFields")){
		<tr>
			<th align="left">@i.GetValue("CustomField.Name"): </th>
			<td>@i.GetValue("CustomField.Value")</td>
		</tr>
	}
</table>

@if(!string.IsNullOrWhiteSpace(GetString("UserManagement:User.DetailUrl"))){
	<a href="@GetValue("UserManagement:User.EditUrl")"><button type="button" class="btn btn-default">Edit your profile</button></a>
}

@if (!string.IsNullOrWhiteSpace(GetString("UserManagement:User.ManageAddressesUrl")))
{
	<a href="@GetValue("UserManagement:User.ManageAddressesUrl")"><button type="button" class="btn btn-default">Edit your adresses</button></a>
}



