<!--@Translate("searchfor","Your search for ") <strong>'@GetValue("DwSearchPhrase")'</strong><!--@Translate("gave"," gave")--> @GetValue("DwSearchResults") <!--@Translate("results","result(s). Now showing page")--> @GetValue("DwSearchResultPage") <!--@Translate("of","of")-->af @GetValue("DwSearchResultPages").
	<ul class="list-group">
 
	@GetValue("DwSearchResultList")
        
	
        </ul>


<div align=right>@GetValue("DwSearchResultBack")&nbsp;&nbsp;@GetValue("DwSearchResultPageList")&nbsp;&nbsp;@GetValue("  ")</div>