@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
<form name="ordersubmit" id="ordersubmit" method="post" role="form">
    @foreach (var i in GetLoop("ValidationErrors"))
    {
        @i.GetValue("HeaderStart")
        <fieldset id="validation">
            <legend>Validation errors</legend>
            <ul>
                @i.GetValue("HeaderEnd")
                <li>Error in the input field "@i.GetValue("Ecom:Cart.ValidationError.FieldName")": <a href="javascript:document.getElementById('@i.GetValue("Ecom:Cart.ValidationError.FieldSystemName")').focus();">@i.GetValue("Ecom:Cart.ValidationError.ErrorMessage")</a></li>
                @i.GetValue("FooterStart")
            </ul>
        </fieldset>
        @i.GetValue("FooterEnd")
    }


    <h3>Customer Information</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Billing address</h4>
            <label for="EcomOrderCustomerName">Name</label>

            <input class ="form-control" type="text" name="EcomOrderCustomerName" id="EcomOrderCustomerName" value="@GetValue("Ecom:Order.Customer.Name")" />
            <label for="EcomOrderCustomerEmail">E-mail</label>
            <input class ="form-control" type="email" name="EcomOrderCustomerEmail" id="EcomOrderCustomerEmail" value="@GetValue("Ecom:Order.Customer.Email")" />
            <label for="EcomOrderCustomerPhone">Phone</label>
            <input class ="form-control" type="number" name="EcomOrderCustomerPhone" id="EcomOrderCustomerPhone" value="@GetValue("Ecom:Order.Customer.Phone")" />


            @if (!Loops.Contains("UserManagement:User.UserAddresses"))
            {
                <label for="EcomOrderCustomerAddress">Address</label>
                <input class ="form-control" type="text" name="EcomOrderCustomerAddress" id="EcomOrderCustomerAddress" value="@GetValue("Ecom:Order.Customer.Address")" />

                <label for="EcomOrderCustomerAddress2">Address Line 2</label>

                <input class ="form-control" type="text" name="EcomOrderCustomerAddress2" id="EcomOrderCustomerAddress2" value="@GetValue("Ecom:Order.Customer.Address2")" />

                <label for="EcomOrderCustomerZip">Zipcode</label>

                <input class ="form-control" type="number" name="EcomOrderCustomerZip" id="EcomOrderCustomerZip" value="@GetValue("Ecom:Order.Customer.Zip")" />

                <label for="EcomOrderCustomerCity">City</label>

                <input class ="form-control" type="text" name="EcomOrderCustomerCity" id="EcomOrderCustomerCity" value="@GetValue("Ecom:Order.Customer.City")" />

                <label for="EcomOrderCustomerCountry">Country</label>

                <select class="form-control" name="EcomOrderCustomerCountry" id="EcomOrderCustomerCountry">
                    @foreach (LoopItem i in GetLoop("Countries"))
                    {
                        <option value="@i.GetValue("Ecom:Country.Code2")">
                            @i.GetValue("Ecom:Country.Name")
                        </option>
                    }
                </select>

            }
            else
            {
                <label for="customerAddress">Address</label>
                <select id="customerAddress" class="form-control">

                    @foreach (LoopItem i in GetLoop("UserManagement:User.UserAddresses"))
                    {

                        <option>
                            @i.GetValue("UserManagement:User.UserAddress.Description")
                        </option>

                    }

                </select>
                <a href="Default.aspx?ID=@Pageview.Area.Item["UserManagementPageId"]&ObjectID=@GetValue("Ecom:Order.Customer.AccessUserID")&Action=ManageAddresses">Manage addresses</a>
            }


        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>Delivery Address</h4>

            <label for="EcomOrderCustomerName">Name</label>

            <input class ="form-control" type="text" name="EcomOrderDeliveryName" id="EcomOrderDeliveryName" value="@GetValue("Ecom:Order.Customer.Name")" />
            <label for="EcomOrderCustomerEmail">E-mail</label>
            <input class ="form-control" type="email" name="EcomOrderDeliveryEmail" id="EcomOrderDeliveryEmail" value="@GetValue("Ecom:Order.Customer.Email")" />
            <label for="EcomOrderCustomerPhone">Phone</label>
            <input class ="form-control" type="number" name="EcomOrderDeliveryPhone" id="EcomOrderDeliveryPhone" value="@GetValue("Ecom:Order.Customer.Phone")" />


            @if (!Loops.Contains("UserManagement:User.UserAddresses"))
            {
                <label for="EcomOrderCustomerAddress">Address</label>
                <input class ="form-control" type="text" name="EcomOrderDeliveryAddress" id="EcomOrderDeliveryAddress" value="@GetValue("Ecom:Order.Customer.Address")" />

                <label for="EcomOrderCustomerAddress2">Address Line 2</label>

                <input class ="form-control" type="text" name="EcomOrderDeliveryAddress2" id="EcomOrderDeliveryAddress2" value="@GetValue("Ecom:Order.Customer.Address2")" />

                <label for="EcomOrderCustomerZip">Zipcode</label>

                <input class ="form-control" type="number" name="EcomOrderDeliveryZip" id="EcomOrderDeliveryZip" value="@GetValue("Ecom:Order.Customer.Zip")" />

                <label for="EcomOrderCustomerCity">City</label>

                <input class ="form-control" type="text" name="EcomOrderDeliveryCity" id="EcomOrderDeliveryCity" value="@GetValue("Ecom:Order.Customer.City")" />

                <label for="EcomOrderCustomerCountry">Country</label>

                <select class="form-control" name="EcomOrderDeliveryCountry" id="EcomOrderDeliveryCountry">
                    @foreach (LoopItem i in GetLoop("Countries"))
                    {
                        <option value="@i.GetValue("Ecom:Country.Code2")">
                            @i.GetValue("Ecom:Country.Name")
                        </option>
                    }
                </select>

            }
            else
            {
                <label for="customerAddress">Address</label>
                <select id="customerAddress" class="form-control">

                    @foreach (LoopItem i in GetLoop("UserManagement:User.UserAddresses"))
                    {

                        <option>
                            @i.GetValue("UserManagement:User.UserAddress.Description")
                        </option>

                    }

                </select>
                <a href="Default.aspx?ID=@Pageview.Area.Item["UserManagementPageId"]&ObjectID=@GetValue("Ecom:Order.Customer.AccessUserID")&Action=ManageAddresses">Manage addresses</a>
            }




        </div>
    </div>


    <h4>Payment and delivery</h4>
    <div class="panel panel-default">
        <div class="panel-body">

            @if (Loops.Contains("Paymethods"))
            {
                <h4>Paymentmethods</h4>
                <div class="form-group">
                    @foreach (var i in GetLoop("Paymethods"))
                    {
                        
                        <div class="radio">
                            <label>
                                @if (GetBoolean("Ecom:Cart.Paymethod.IsSelected"))
                                {
                                    <input  type="radio" name="EcomCartPaymethodID" id="EcomCartPaymethodID_@i.GetValue("Ecom:Cart.Paymethod.ID")" value="@i.GetValue("Ecom:Cart.Paymethod.ID")" checked="checked" />
                                    @i.GetValue("Ecom:Cart.Paymethod.Name")
                                }
                                else
                                {
                                    <input  type="radio" name="EcomCartPaymethodID" id="EcomCartPaymethodID_@i.GetValue("Ecom:Cart.Paymethod.ID")" value="@i.GetValue("Ecom:Cart.Paymethod.ID")"/>
                                    @i.GetValue("Ecom:Cart.Paymethod.Name")
                                }
                            </label>
                        </div>
                    }
                </div>

            }
            @if (Loops.Contains("Shippingmethods"))
            {
                <h4>Deliverymethods</h4>
                <div class="form-group">
                    @foreach (var i in GetLoop("Shippingmethods"))
                    {
                        
                        <div class="radio">
                            <label>
                                @if (GetBoolean("Ecom:Cart.Shippingmethod.IsSelected"))
                                {
                                    <input  type="radio" name="EcomCartShippingID" id="EcomCartShippingID_@i.GetValue("Ecom:Cart.Shipping.ID")" value="@i.GetValue("Ecom:Cart.Shipping.ID")" checked="checked" />
                                    @i.GetValue("Ecom:Cart.Shippingmethod.Name")
                                }
                                else
                                {
                                    <input  type="radio" name="EcomCartShippingID" id="EcomCartShippingID_@i.GetValue("Ecom:Cart.Shipping.ID")" value="@i.GetValue("Ecom:Cart.Shipping.ID")"/>
                                    @i.GetValue("Ecom:Cart.Shippingmethod.Name")
                                }
                            </label>
                        </div>
                    }
                </div>

            }




        </div>

    </div>
    @if (Dynamicweb.Input.FormatBoolean(GetValue("Ecom:Cart.UseNewsletterSubscription")))
    {<text>

        <h4>Newsletter</h4>



        <div class="checkbox">
						<input class="form-control" type="hidden" name="EcomOrderSubscribeToNewsletter" />
						<input type="checkbox" name="EcomOrderSubscribeToNewsletter" id="EcomOrderSubscribeToNewsletter"
							<!--@If Defined(Ecom:Order.Customer.NewsletterSubscribe)-->
								checked="checked"
							<!--@EndIf(Ecom: Order.Customer.NewsletterSubscribe)-->
						/>
						<label for="EcomOrderSubscribeToNewsletter">
							@Translate("Subscribe_to_newsletter", "Subscribe to newsletter")
        </label>

		</text>}

    </div>

			<h4><a href="Default.aspx?ID=@Pageview.Area.Item["TermsAndConditionsPageId"]">Terms and conditions</a></h4>



    <div class="checkbox">
        <label>
            <input type="checkbox" id="EcomOrderCustomerAccepted" name="EcomOrderCustomerAccepted" value="1" />

            Accept terms and conditions
        </label>
    </div>

    <button type="submit" name="@GetValue("CartV2.PreviousStepButtonName")" id="@GetValue("CartV2.PreviousStepButtonName")" value="Tilbage" class="submitter btn btn-default" >@Translate("Back", "Back")</button>
    <button type="submit" name="@GetValue("CartV2.NextStepButtonName")" id="@GetValue("CartV2.NextStepButtonName")"  class="submitter btn btn-default">@Translate("Create_order", "Create order")</button>
</form>

