<form name="ordersubmit" id="ordersubmit" method="post">
	<fieldset>
		<legend><!--@Translate(shoppingbasket, "Shopping Basket")--></legend>
		@if(!(GetBoolean("Ecom:Order.IsEmpty"))){
			<table cellspacing="0" cellpadding="0" border="0" width="100%" id="orderdetails">
				<tr class="basketheader">
					<td><!--@Translate(productname, "Product name")--></td>
					<td><!--@Translate(amount, "Amount")--></td>
					<td align="right"><!--@Translate(price, "Price")--></td>
					<td></td>
				</tr>
				
				@foreach (LoopItem i in GetLoop("OrderLines")){
					<tr class="orderline@i.GetValue("Ecom:Order:OrderLine.Type") orderline">
						<td nowrap>
							<a href="@i.GetValue("Ecom:Order:OrderLine.ProductLink")">
								@i.GetValue("Ecom:Order:OrderLine.ProductName.Short")
                                @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order:OrderLine.ProductVariantText")))
								{
									(@i.GetValue("Ecom:Order:OrderLine.ProductVariantText"))
								}
							</a>
						</td>
						<td>@i.GetValue("Ecom:Order:OrderLine.Quantity")</td>
						<td align="right" nowrap>@i.GetValue("Ecom:Order:OrderLine.TotalPrice")</td>
						<td align="right" nowrap>
                            @if (!string.IsNullOrWhiteSpace(GetString("Ecom:Order:OrderLine.IsProduct")))
							{
								<a class="orderfunctions" href="@i.GetValue("Ecom:Order:OrderLine.IncrementLink")" title=""><img src="/Files/Templates/eCom7/CartV2/Step/basket-inc.gif" border="0" alt="" /></a>
								<a class="orderfunctions" href="@i.GetValue("Ecom:Order:OrderLine.DecrementLink")" title=""><img src="/Files/Templates/eCom7/CartV2/Step/basket-dec.gif" border="0" alt="" /></a>
								<a class="orderfunctions" href="@i.GetValue("Ecom:Order:OrderLine.DeleteLink")" title=""><img src="/Files/Templates/eCom7/CartV2/Step/basket-rem.gif" border="0" alt="" /></a>
							}
						</td>
					</tr>
					@foreach (LoopItem i2 in GetLoop("BOMItems")){
						<tr class="orderline">
							<td nowrap>@i2.GetValue("Ecom:Order:OrderLine.ProductName.Short")</td>
							<td nowrap>@i2.GetValue("Ecom:Order:OrderLine.Quantity")</td>
							<td></td>
							<td nowrap>@i2.GetValue("Ecom:Order:OrderLine.TotalPrice")</td>
							<td></td>
						</tr>
					}
				}
				<tr class="total">
					<td colspan="2"><!--@Translate(paymentfee, "Paymentfee")--> (@GetValue("Ecom:Order.PaymentMethod"))</td>
					<td align="right" title="Ecom:Order.PaymentFee.PriceFormatted">@GetValue("Ecom:Order.PaymentFee.PriceFormatted")</td>
				</tr>
				<tr class="total">
					<td colspan="2"><!--@Translate(deliveryfee, "Deliveryfee")--> (@GetValue("Ecom:Order.ShippingMethod"))</td>
					<td align="right" title="Ecom:Order.ShippingFee.PriceFormatted">@GetValue("Ecom:Order.ShippingFee.PriceFormatted")</td>
				</tr>
				<tr class="total">
					<td><!--@Translate(total, "Total")--></td>
					<td></td>
					<td align="right">@GetValue("Ecom:Order.OrderLines.Total.PriceWithVAT")</td>
				</tr>
			</table>
			<a href="@GetValue("Ecom:Cart.EmptyCartLink")"><!--@Translate(emptycart, "Empty Cart")--></a>
			<input type="submit" name="@GetValue("CartV2.NextStepButtonName")" id="@GetValue("CartV2.NextStepButtonName")" value="<!--@Translate(next, "Next")-->" />
		}
        @if ((GetBoolean("Ecom:Order.IsEmpty")))
		{
			<!--@Translate(basketisempty, "Kurven er tom")-->
		}
	</fieldset>
</form>