<form name="ordersubmit" id="ordersubmit" method="post" role ="form">
	<fieldset>
		<h2><!--@Translate(cart, "Cart")--></h2>
		@if(!(GetBoolean("Ecom:Order.IsEmpty"))){
			<table id="orderdetails" class="table table-hover">
				<tr>
					<th><!--@Translate(productname, "Product name")--></th>
					<th><!--@Translate(amount, "Amount")--></th>
					<th><!--@Translate(price, "Price")--></th>
					
				</tr>
				
				@foreach (LoopItem i in GetLoop("OrderLines")){
                 
					<tr>
						<td>
							<a href="@i.GetValue("Ecom:Order:OrderLine.ProductLink")">
								@i.GetValue("Ecom:Order:OrderLine.ProductName.Short")
                                
                                 @if (!string.IsNullOrWhiteSpace(i.GetString("Ecom:Order:OrderLine.ProductVariantText"))){

                                    @i.GetValue("Ecom:Order:OrderLine.ProductVariantText")
                                 }
							</a>
						</td>
						<td>@i.GetValue("Ecom:Order:OrderLine.Quantity")</td>
						<td>@i.GetValue("Ecom:Order:OrderLine.TotalPrice")</td>
					</tr>
				
				}

                		@foreach (LoopItem i2 in GetLoop("BOMItems")){
							<tr>
								<td>@i2.GetValue("Ecom:Order:OrderLine.ProductName.Short")</td>
								<td>@i2.GetValue("Ecom:Order:OrderLine.Quantity")</td>					
								<td>@i2.GetValue("Ecom:Order:OrderLine.TotalPrice")</td>
							</tr>
						}

        
				<tr>
					<td><!--@Translate(paymentfee, "Paymentfee")--> (@GetValue("Ecom:Order.PaymentMethod"))</td>
                    <td></td>
					<td title="@GetValue("Ecom:Order.PaymentFee.PriceFormatted")">@GetValue("Ecom:Order.PaymentFee.PriceFormatted")</td>
				</tr>
				<tr>
					<td><!--@Translate(deliveryfee, "Deliveryfee")--> (@GetValue("Ecom:Order.ShippingMethod"))</td>
                    <td></td>
					<td title="@GetValue("Ecom:Order.ShippingFee.PriceFormatted")">@GetValue("Ecom:Order.ShippingFee.PriceFormatted")</td>
				</tr>
				<tr class ="success">
					<td><!--@Translate(total, "Total")--></td>
					<td></td>
					<td>@GetValue("Ecom:Order.OrderLines.Total.PriceWithVAT")</td>
				</tr>
			</table>
			<a href="@GetValue("Ecom:Cart.EmptyCartLink")"><!--@Translate(emptycart, "Empty Cart")--></a>
			<input type="submit" name="@GetValue("CartV2.NextStepButtonName")" id="@GetValue("CartV2.NextStepButtonName")" class="btn btn-default pull-right" value="<!--@Translate(next, "Next")-->" />
		}
        @if ((GetBoolean("Ecom:Order.IsEmpty")))
		{
			<h3><!--@Translate(basketisempty, "Kurven er tom")--></h3>
		}
	</fieldset>
</form>