@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>


<div class="items">
    <div class="item-edit-form">
        @GetValue("ItemCreator:Edit.Form.Begin")
        <p> @GetValue("ItemCreator:Edit.Status") </p> <!--new seesion-->

        <div class="item-edit-fields-outer">
            @GetValue("ItemCreator:Edit.Form")
        </div>

        <div class="item-edit-submission">
            <input type="button" value='Cancel' class="btn btn-default"  />
            <input type="submit" value='Save' class="btn btn-default" />
        </div>
        @foreach (LoopItem i in GetLoop("ValidationErrors"))
        {
            @i.GetValue("HeaderStart")
            <div class="validation-error">
                @Translate("Error_saving_item", "Error saving item")
                <ul>
                    @i.GetValue("HeaderEnd")
                    <li>@i.GetValue("ItemCreator:Edit.Validation.FieldName"): @i.GetValue("ItemCreator:Edit.Validation.Error")</li>
                    @i.GetValue("FooterStart")
                </ul>
            </div>
            @i.GetValue("FooterEnd")
        }

        <div class="items-clear"></div>
        @GetValue("ItemCreator:Edit.Form.End")
    </div>
</div>
